= content_for :centered do
  %h2 Выслать инструкции заново

  = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }, builder: MainFormBuilder) do |f|
    = f.error_messages
    = f.email_field_inline :email, :autofocus => true

    = f.submit "Отправить инструкции на почту", class: 'main_button most_wide_button'

  -#= render "devise/shared/links"
