= f.text_field_inline :director
= f.text_field_inline :country
= f.text_field_inline :city
= f.text_field_inline :street
= f.text_field_inline :house
= f.text_field_inline :building
= f.number_field_inline :inn
= f.number_field_inline :ogrn
= f.number_field_inline :staff