.best_offer_frame
  .buy_button_frame_in
    .main_page_box.abroad= t(:all_for_world_trade)
    .full_text
      Businesses often face difficulties when working with foreign companies.The main goal of myVED  is to provide a trouble-free, smooth transaction within the international trade business
    .past_title= t(:help_from_myved)
    -#.problem_title= t(:there_is_solvation)
    -#= image_tag 'main_page/arrow.png', class: 'arrow down'
    .ved_solvation_content
      .span0
        = image_tag 'main_page/arrow.png', class: 'arrow'
        Understand the reliability of the foreign company.
      .span30
        = image_tag 'main_page/arrow.png', class: 'arrow'
        Obtain certificates and other permits abroad
      .span150
        = image_tag 'main_page/arrow.png', class: 'arrow'
        Deliver samples
      .span180
        = image_tag 'main_page/arrow.png', class: 'arrow'
        Solve any export-import operation issues
        
    .problem_title.bold= t(:how_does_it_work)
    .problem_content
      .span0
        = image_tag 'main_page/arrow.png', class: 'arrow'
        1. Complete the brief sign-up. You do not need to provide the detailed information about the goods.
      .span90
        = image_tag 'main_page/arrow.png', class: 'arrow'
        2. Place a request concerning export-import operation issues.
      .span180
        = image_tag 'main_page/arrow.png', class: 'arrow'
        3. Get a trusted solution at best prices without intermediates
    %br
    %br
    .full_text.margined
      .al_centered.upper.bold.dark_title 
        Register on MYVED  and learn more about these opportunities
    %br
    = start_for_free_button("supplier")