.ved_request_frame.abroad
  .buy_button_frame_in
    .main_page_box= t(:door_to_door_russia)
    .full_text
      Does your customer  know how to deliver your goods to Russia? 
      %br
      Help them solve the problem.

    .past_title= t(:help_from_myved)
    -#.problem_title= t(:there_is_solvation)
    -#= image_tag 'main_page/arrow.png', class: 'arrow down'
    .ved_solvation_content
      .span0
        = image_tag 'main_page/arrow.png', class: 'arrow'
        Stand out among the competitors.
      .span30
        = image_tag 'main_page/arrow.png', class: 'arrow'
        Offer your customers solutions on how to deliver the good to the warehouse in Russia.
      .span150
        = image_tag 'main_page/arrow.png', class: 'arrow'
        Prepare all required documents, and safely deliver your goods
      .span180
        = image_tag 'main_page/arrow.png', class: 'arrow'
        Save time and money, without risk
     
    .problem_title.bold= t(:how_does_it_work)
    .problem_content
      .span0
        = image_tag 'main_page/arrow.png', class: 'arrow'
        1. Complete the brief sign-up You do not need to provide the detailed information about the goods.
      .span90
        = image_tag 'main_page/arrow.png', class: 'arrow'
        2. 2. Place a request for a delivery quote from the warehouse in Russia and receive a complete proposal from myVED.
      .span180
        = image_tag 'main_page/arrow.png', class: 'arrow'
        3. Send to the client a standard offer concerning the sale of the good along with the decision   myVED for delivery to Russia.

    .full_text.margined
      .bold Stand out among the competitors, offer to your customers solution how to deliver goods to their warehouse and it’s guaranteed that you will increase the sales to Russia.
      %br
      .al_centered.upper.bold.dark_title
        Free registration!!!
        -#Регистрация на сайте и функционал "door-to-door" Бесплатны!!!

    %br
    = start_for_free_button("supplier")