= render 'layouts/bar', header_t: 'Уведомления', background_image: '', left: true

%table.numero
  %tr
    %th №
    %th Тема
    %th Предпросмотр
    %th Отправлено
    %th
  - @notifications.each do |notification|
    %tr
      %td{class: "#{'_not-read' unless notification.read?}"}
        %dt
      %td.left{class: "#{'bold' unless notification.read?}"}
        = link_to notification.full_title, notification
      %td.left= truncate strip_tags(notification.body), length: 50
      %td.left._datetime= notification.datetime_string(:created_at)
      %td= link_to 'открыть', notification, class: 'notification-link'