%h2= t(:contact_person_info)
= two_colums_string(contractor, :first_name)
= two_colums_string(contractor, :last_name)
= two_colums_string(contractor, :telephone_number)
= two_colums_string(contractor, :appointment)