%tr
  %td 
    = link_to contractor_url(@sender), class: 'contractor_link' do
      = image_tag("#{root_url}#{@sender.logo.presence ? @sender.logo_url(:icon) : asset_path(@sender.logo_url(:icon))}", alt: strip_tags(@sender.title), class: 'small_image')
      = strip_tags(@sender.title)
  %td
    = "Cтатус #{I18n.t('activerecord.genitive.' + @ved_request.base_class.underscore)} сменился на «#{@ved_request.human_state}»"
    %p= link_to "просмотреть", url_for(@ved_request.decorate.project_pth)
    %br
    = link_to 'myVED.com', root_url, class: 'to_myved'
