%tr
  %td 
    = link_to contractor_url(@sender), class: 'contractor_link' do
      = image_tag("#{root_url}#{@sender.logo.presence ? @sender.logo_url(:icon) : asset_path(@sender.logo_url(:icon))}", alt: strip_tags(@sender.title), class: 'small_image')
      = strip_tags(@sender.title)
  %td
    - if @message_title.presence
      %p
        %b
          - if @sender.ns?
            = raw @message_title
          - else
            = @message_title
    - if @sender.ns?
      #form_ns_body= raw @message_body
      %p= link_to "просмотреть", url_for(@ved_request.decorate.project_pth)#, url_for(:controller => @ved_message.ved_request.type.underscore.pluralize, :action => 'show', id:  @ved_message.ved_request, only_path: false)

    %br
    = link_to 'myVED.com', root_url, class: 'to_myved'
