.dashed_container._ved-request-form
  = render :layout => 'layouts/main_left' do
    = f.text_field_inline :title
    = f.redactor :body

  = render :layout => 'layouts/main_right' do
    %h3 Добавить файлы и изображения
    = f.fields_for :attachments do |builder|
      = render 'ved_messages/attachment_fields', f: builder, category: 'new'

    = link_to_add_attachments 'загрузить еще файл', f, :attachments, 'ved_messages/attachment_fields', 'new', 'minor_button centered wide_button'